.code-container {  
    width: 100%;
    position: relative;  
    background: #252525;      
    border-radius: 6px;  
    padding: 12px;        
}  

.file-name {
    font-size: 12px;
    color: grey;
    cursor: pointer;
}

pre {  
    padding: 0;                        
    margin: 0;  
    margin-top: 8px;  
    background: #252525;       
    color: rgb(220,220,220);            
    overflow: auto;              
}  

pre:focus{
    outline: 1px solid rgb(200,200,200);
    border-radius: 4px;
} 

.btn-container{
    gap: 8px;
}                                     
        
.copy-btn {  
    padding: 4px;  
    font-size: 12px;  
    background: #007BFF;  
    color: white;  
    border: none;  
    cursor: pointer;  
    border-radius: 4px;  
    width: 50px;  
}  

.copy-btn:hover {  
    background: #0056b3;  
}  

.file-menu {
  position: absolute;
  top: 40px;
  left: 12px;
  background: white;  
  box-shadow: 2px 2px 8px rgba(100, 100, 100, 0.4);
  border-radius: 4px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 6px;
}

.menu-btn {
  background: none;
  border: none;  
  min-width: 100px;
  text-align: left;
  cursor: pointer;  
  color: #252525;   
  padding: 2px 4px;
}

.menu-btn:hover {
  background: #f5f5f5;
}

.menu-btn:disabled {
  color: grey;
  cursor: not-allowed;
}