.dashboard{
  margin: auto;  
  padding: 2px 16px 16px 16px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  
}

.dashboard { 

h2 {
  text-align: center;
  color: #20232a;
  margin: 20px auto 6px auto;    
}

.card {
  background: #f8f9fa;
  padding: 16px;
  margin-top: 15px;  
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

h3 {
  color: #353f50;
  margin-bottom: 8px;
  text-align:center;
}

ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

li {
  padding: 5px 0;  
}

.error {
  color: #ff4d4d;
  font-size: 14px;
  text-align: center;
}

.access-token-section p {
  width: 100%;
  max-height: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;  
  margin: 12px 0;
  
  text-align: left;
  font-size: 14px;
  overflow: auto;   
  overflow-wrap: wrap-text;
  word-wrap: break-word; 
}

.access-token-section p::-webkit-scrollbar{
    all:unset;
    width: 0;
}

.access-token-section p::-webkit-scrollbar-thumb{
  all:unset;
}

.generate-btn {
  width: 100%;
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;  
  cursor: pointer;
  font-size: 15px;  
  border-radius: 5px;
}

.generate-btn:hover {
  background-color: #0056b3;
}

.buy-premium {
    width: 55%;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    background: #f5a623;
}

}


/*desktop*/
/* Open sidebar by default for desktop */
@media (min-width: 720px) {
  .dashboard{
    padding: 2px 40px 2px 40px;
  }

  .card {
    margin-bottom: 30px !important;
  }
  
   .created-line {   
     justify-content: space-around ! important;
   }
}






.api-stats {
  padding: 26px;
  margin: auto;  
  margin: 20px auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
  max-width: 800px;  
  font-family: 'Segoe UI', sans-serif;
  
  
  *{
    /*border: 1px solid red;*/
  }

  h2 {            
    margin:0 ! important;
    padding: 0 ! important;
    font-size: 20px;    
  }
  
  .refresh-btn {
    border: none;
    background: transparent;        
    border-radius: 50%;
    cursor: pointer;    
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background: rgb(240,240,240);
    }
  }

  .token-info {
    .token-line {
      display: flex;
      justify-content: space-between;
      align-items: center;     
      margin: 12px 0px; 
      gap: 8px;
      code {
        background: #f4f4f4;
        padding: 0 8px;
        border-radius: 6px;
        font-family: monospace;
        
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;  
        
        &:hover{
          display: inline-box;
          overflow-x: auto;
          -webkit-line-clamp: unset;
          -webkit-box-orient: unset;
          text-overflow: unset;
        }                              
      }                  
    }

    .created-line {
      margin-top: 0.8rem;
      display: flex;
      justify-content: space-between;
      span {
        color: #555;
      }
    }
  }

  .quota-info {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0;
    background: #f8f8f8;
    padding: 0.6rem 0.8rem;
    border-radius: 8px;
    span {
      font-weight: 600;
      color: #666;      
    }
    
    strong{
      font-size: 18px;
    }
  }

  .filter-buttons {
    display: flex;
    justify-content: center;
    gap: 1.6rem;
    margin-bottom: 1rem;
    button {
      padding: 0.4rem 1.4rem;
      border: 1px solid #ccc;
      border-radius: 20px;
      background: #fafafa;
      cursor: pointer;
      transition: 0.2s;
      &.active {
        background: #007bff;
        color: white;
        border-color: #007bff;
      }
      &:hover {
        background: #007bff;
      }
    }
  }

  .graph {
    padding: 0;
    h4 {
      margin-bottom: 0.8rem;
      color: #333;
    }
  
  }
}
