.reset-password-container {
  width: 85%;     
  margin: 16px; 
  margin: auto;    
  display: flex;
  justify-content: center;
  align-items: center;
  flex:1;
    
  .reset-password-box {
    background: #fff;
    padding: 30px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    animation: fadeIn 0.3s ease-in-out;

    h2 {
      color: #333;          
      margin: 0;
    }

    .expired-message {     
      color: red;
      margin-bottom: 10px;
    }
    
    .message{      
      color: green;
      margin-bottom: 15px;
    }

    p {      
      color: #666;
      margin-bottom: 20px;
    }

    .input-group {
      width: 100%;
      margin-bottom: 15px;
      
      input {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 6px;        
        transition: 0.3s ease-in-out;

        &:focus {
          border-color: #007bff;
          outline: none;
          box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        }

        &.disabled {
          background: #f0f0f0;
          border-color: #ddd;
          color: #999;
          cursor: not-allowed;
        }
      }
    }

    .submit-btn {
      background: #007bff;
      color: white;
      border: none;
      padding: 12px;
      width: 100%;
      cursor: pointer;
      border-radius: 6px;      
      font-weight: bold;
      transition: background 0.3s ease-in-out;

      &:hover {
        background: #0056b3;
      }

      &.disabled {
        background: #aaa;
        cursor: not-allowed;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

// @media (min-width: 720px){
//     .reset-password-container{
//         width: 55%;  
//         margin: 10%;
//         margin-left: auto;       
//     }
// }