/* Sidebar */

.sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  width: 60vw;
  height: 100%;
  background: #fff;     /*#181818;*/
  color: white;
  padding: 4px 2px; 
  transition: 0.3s linear;  
  box-shadow: 0 0 2px 4px rgba(0,0,0,0.1);
  
  z-index: 20;
}

.open{
    left:0;
}

.sidebar{

ul {
  list-style: none;
  padding: 0;
  
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  
  padding-left: 8px;
}

ul li {
  margin: 0px 8px 8px 8px;
}

ul li a {
  color: #181818;  
  text-decoration: none;
}

.close-btn {
  all: unset; 
  color: #464646e1;
  font-size: 36px;  
  line-height: 1;  
}

.install-btn {
  background: #f5a623;
  border: none;
  color: white;
  padding: 4px 8px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  margin: 0;
}

}



/*desktop*/
/* Open sidebar by default for desktop */
@media (min-width: 720px) {
  .sidebar {
    left: 0; /* Open for desktop */
    width: 25%; /* Adjust width for larger screens */
  }
  
  .close-btn{
      display: none ! important;      
  }
}
