.flex{
    display: flex;
}

.fg1{
    flex-grow: 1;
}

.jcc{
    justify-content: center;
}

.aic{
    align-items: center;
}

.jcsb{
    justify-content: space-between;
}

.aisb{
    align-items: space-between;
}

.fdc{
    flex-direction: column;
}

.jcfs{
    justify-content: flex-start;
}

.jcfe{
    justify-content: flex-end;
}

.aifs{
    align-items: flex-start;
}

.aife{
    align-items: flex-end;
}

.w100{
    width: 100%;
}

.h100{
    height: 100%;
}


.text-center{
    text-align: center;
}

* {         
    box-sizing: border-box;  
    font-family: Arial, sans-serif;  
}

/*desktop*/
@media (min-width: 720px) {
  .main-frame {
    width: 75% ! important;
    margin-left: auto; 
  }

  html {
    font-size: 16px;
  }

  ::-webkit-scrollbar{
    width: 12px;
    height: 8px;
    background-color: rgba(80,80,80,0.8);
  }
}  
       
